extends layout
block head
  script(src="/js/admin.js")

block content
  .container
    section.header
      h2 Time Monitor Admin
    
      p Total Connected :
        span#connected
      
      p
      .row
         h5.one-third.column Group-Name
         h5.one-third.column Connected       
         h5.one-third.column Status    
      .row
         #groupNM.one-third.column 
         #connected.one-third.column 
         #status.one-third.column 0

    
    
    
      
