extends layout
block head
  script(src="/js/admin.js")
  script(src='https://cdn.jsdelivr.net/lodash/4.16.6/lodash.min.js')

block content
  .container
    section.header
      h2 Time Monitor Admin
      
      h5 status :
        span#connection_status.disconnected  disconnected      
    
      div Total Connected :
       span#connected
      div Last Updated :
       span#lastUpdated
      
      p
      .row
         h5.two.columns Group
         h5.three.columns Connected       
         h5.three.columns Status   
         h5.two.columns Max-Offset 
         h5.two.columns Oldest Res
      #summary  

      p     
      .row
         h5.two.columns Group
         h5.three.columns IP Address
         h5.two.columns Client Time
         h5.two.columns Server Time
         h5.one.columns Offset
         h5.one.columns Status
         h5.one.columns Last
      #detail
    
    
    
      
