extends layout
block head
  script(src="/js/admin.js")

block content
  .container
    section.header
      h2 Time Monitor Admin
    
      p Total Connected :
        span#connected
      
      p
      .row
         h5.one-third.column Group-Name
         h5.one-third.column Connected       
         h5.one-third.column Status    
      .row
         #groupNM.one-third.column 
         #connected.one-third.column 
         #status.one-third.column 0
      p     
      .row
         h5.two.columns IP Address
         h5.two.columns Client Time
         h5.two.columns Server Time
         h5.three.columns Offset
         h5.three.columns Status
      .row
         #addr.two.columns
         #clientTime.two.columns
         #serverTime.two.columns
         #offset.three.columns
         #state.three.columns   
        
         
    
    
    
      
