extends layout
block head
  script(src="/js/index.js")

block content
  .container
    section.header
      h2 Time Monitor
    
      p status :
        span#connection_status.disconnected  disconnected
           
      p
      .row
         h5.one-half.column Local-Time         
      .row
         #local.one-half.column --:--:--:--
      p
      .row      
        h5.one-half.column Remote-Time
      .row 
         #remote.one-half.column --:--:--:--        
      p
      .row                 
         h5.one-third.column offset (ms)    
      .row
         #offset.one-half.column 0
         
      p
      .row                 
         h5.one-fourth.column Alias(HostName)    
      .row
         .three.columns
            input#alias.u-full-width(type="text")       

    
    
    
      
