doctype html
html 
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')  
    script.
      window.nodeRequire = require;
      delete window.require;
      delete window.exports;
      delete window.module;  
    script(src="/js/jquery-2.2.3.min.js")
    script(src="/socket.io/socket.io.js")
    block head
  body
    block content
 