body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color : darkslategray;
  color : white !important;
}

a {
  color: #00B7FF;
}

.good {	
	color : cyan;
	display : inline-block;
	width : 57px;
}
.warn {
	color : bisque;	
	display : inline-block;
	width : 57px;
}
.fail {	
	color : coral;
	display : inline-block;
	width : 57px;
}

.disconnected {
	color : red
}

.connected {
	color : yellow;
}

.enabled {
	color : white	
}

.disabled {
	color : aliceblue 	
}

.config {
	font-size : smaller;
	opacity : 0.5
}
#detailHeader{
	display : none;
}
#alias {
	background-color : gray;
}
}