body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.good {	
	color : blueviolet;
}
.warn {
	color : darkgray;	
	
}
.fail {
	
	color : red;
}

.disconnected {
	color : red
}

.connected {
	color : blue
}

.enabled {
	color : black	
}

.disabled {
	color : aliceblue 	
}